<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.ergou.javawebsec.mapper.UserMapper">
    <select id="in2" resultType="run.ergou.javawebsec.entity.User">
        SELECT * FROM users where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="in4" resultType="run.ergou.javawebsec.entity.User">
        SELECT * FROM users where username in
        <foreach collection="names" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>
</mapper>

